@use "../Utilities/" as u;

.hero {
  text-align: center;
  margin-bottom: u.rem(80);

  @include u.breakpoint(medium) {
    text-align: left;
    width: 100%;
    margin-top: u.rem(90);
  }

  &__title,
  &__about {
    margin-bottom: u.rem(24);
  }

  &__title {
    @include u.breakpoint(medium) {
      margin-bottom: u.rem(60);
    }
  }

  &__about {
    @include u.breakpoint(medium) {
      margin-bottom: u.rem(34);
    }
  }

  &_ &__image img {
    max-width: u.rem(174);
    margin-bottom: u.rem(40);
  }

  .hero__image-mobile {
    @include u.breakpoint(medium) {
      display: none;
    }
  }
}
