@use "../utilities" as u;

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include u.breakpoint(medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-inline: auto;
    margin-bottom: 20px;

    @include u.breakpoint(medium) {
      margin: 0;
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25.6px;
  }
}

.icon path {
  transition: fill 0.3s ease;
}

.icon:hover path,
.icon:focus path {
  fill: var(--clr-accent);
}
