@use "../utilities" as u;

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  color: var(--clr-100);
}

h1,
h2 {
  font-size: clamp(u.rem(40), 10.5vw, u.rem(88));
  line-height: clamp(u.rem(40), 10.5vw, u.rem(88));
  letter-spacing: clamp(u.rem(-1.14), 10.5vw, u.rem(-2.5));
}

h3 {
  font-size: clamp(u.rem(32), 10.5vw, u.rem(48));
  line-height: clamp(u.rem(40), 10.5vw, u.rem(56));
  letter-spacing: clamp(u.rem(-1), 10.5vw, u.rem(-1.5));
}

h4 {
  font-size: u.rem(24);
  line-height: u.rem(32);
}

p {
  font-size: clamp(u.rem(16), 10.5vw, u.rem(18));
  line-height: clamp(u.rem(26), 10.5vw, u.rem(28));
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--clr-100);
  cursor: pointer;
  text-transform: uppercase;
}

.nav__title {
  color: var(--clr-100);
  font-size: u.rem(32);
}

.bb-accent {
  border-bottom: 2px solid var(--clr-accent);
}

.link {
  letter-spacing: u.rem(2.29);
  padding-bottom: u.rem(10);
}
